[submodule "/Users/saratheriver/Desktop/McGill_PhD/ENIGMA/python/BrainSpace"]
	path = /Users/saratheriver/Desktop/McGill_PhD/ENIGMA/python/BrainSpace
	url = https://github.com/MICA-MNI/BrainSpace.git
