[submodule "/host/emilia/export02/data/ENIGMA/shared/dependencies/BrainSpace"]
	path = /host/emilia/export02/data/ENIGMA/shared/dependencies/BrainSpace
	url = https://github.com/MICA-MNI/BrainSpace.git
