recursive-include enigmatoolbox/datasets *
recursive-include enigmatoolbox/permutation_testing *
recursive-include enigmatoolbox/plotting *
recursive-include enigmatoolbox/histology *
include README.rst LICENSE
